@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {box-sizing: border-box;}

body {
  font-family: 'Pretendard Variable', sans-serif;
}

main {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
}

header {
    width: 20%;
    height: 100%;
    padding: 10vh 5vw;
    position: relative;
    z-index: 3;
}
header h1 {
    color: #fff;
    text-align: center;
}
header figure {
    width: 70px;
    height: 70px;
    background: url(../img/icon-bicycle_white.png) no-repeat center/cover;
    margin-bottom: 15px;
}
header span {
    display: block;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4;
    font-family: 'GmarketSansMedium';
    color: rgba(255, 255, 255, 0.65);
}

/* footer */
footer {
    position: fixed;
    bottom: 100px; left: 5vw;
    font-size: 15px;
    font-weight: lighter;
    font-family: "Pretendard Variable";
    color: rgba(255, 255, 255, 0.65);
    line-height: 1.8;
}
.br-pc {
  display: inline;
}

/* nav */
nav {
    position: absolute;
    top: 10vh; right: 5vw;
    z-index: 3;
}
nav ul {display: flex;}
nav ul li a {
    font-size: 18px;
    color: #bbb;
    margin-right: 30px;
}

/* SECTION */
section {
    width: 80%;
    height: 100%;
    padding-top: 15vh;
    display: flex;
    position: relative;
    z-index: 1;
}
section article {
    position: relative;
    flex: 1;
    padding: 40px 40px 100px;
    opacity: 0.6;
    z-index: 1;
    transition: opacity 1s, flex 1s;
    cursor: pointer;
}
section article::before {
    content: '';
    display: block;
    width: 80%; height: 95%;
    position: absolute;
    top: 0; left: -200px;
    background: #444;
    opacity: 0;
    transition: all 0.5s ease;
}
section article .inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    position: relative;
}
section article .inner .txt {
    width: 100%;
    transition: all 0.5s ease;
}
section article .inner .txt h3 {
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    margin: 30px 0 20px ;
    transition: all 0.5s ease;
}
section article .inner .txt em {
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    transition: 1s;
}
section article .inner .txt h2 {
    font-weight: 100;
    font-size: 40px;
    font-family: 'Alegreya Sans SC';
    color: #fff;
    margin-bottom: 20px;
    padding-top: 40px;
    transition: all 0.5s ease;
}
section article .inner .txt h2::after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background: #777;
    margin-top: 10px;    
    transition: all 0.5s ease;
}
section article .inner .txt p {
    font-size: 16px;    
    font-weight: 300;
    line-height: 1.4;
    color: #d4d4d4;
    word-break: keep-all;
}
section article .inner figure {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100vh
    background: #777;
    overflow: hidden;
    filter: saturate(10%);
    transform-origin: left center;
    transition: all 0.5s ease;
}
section article .inner figure video {
    width: 100%;
    height: 100%;
    object-fit: cover;    
    transform: scale(1.15);
}
section article:hover {
    flex: 1.5;
    opacity: 1;
    z-index: 2;
}
section article:hover::before {
    left: 0;
    opacity: 1;
}
section article:hover .txt {
    width: 80%;
}
section article:hover .txt h2 {
    font-size: 70px;
    padding-top: 0;
}
section article:hover .txt h2::after {
    width: 120px;
    background: orange;
}
section article:hover figure {
    height: 25vh;
    filter: saturate(120%);
    transform: translateY(-3vh);
}


/* aside */
aside {
    position: absolute;
    top: 0; left: -100%;
    width: 100%;    
    height: 100vh;
    background: #222;
    z-index: 2;    
    padding: 20vh 7vw 14vh 20vw;   
    display: flex;
    justify-content: space-between;
    opacity: 0;
    z-index: 100;
    transition: all 0.5s ease;
}
aside.on {
    opacity: 1;
    left: 0;
}
aside .txt {
    width: 25%;
    margin-right: 30px;
}

aside .txt h2 {
    font-size: 80px;
    font-weight: 100;
    line-height: 1;
    font-family: 'Alegreya Sans SC';
    color: #ddd;
    margin-bottom: 30px;
}

aside .txt h3 {
    font-size: 32px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 25px;
    transition: all 0.5s ease;
}
aside .txt em {
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    transition: all 0.5s ease;
}


aside .txt p {
    font-size: 18px;
    line-height: 1.4;
    color: #d4d4d4 ;
    margin-bottom: 40px;
    word-break: keep-all;
}
aside .txt button {
    cursor: pointer;
    color: orange;
    background: none;
    font-family: 'Alegreya Sans SC';
    font-size: 18px;
    font-weight: bold;
}

aside .vid {
    width: 72%;
    height: 100%;
}

aside figure {
    aspect-ratio: 16 / 9;
    width: 100%;
    /* padding-bottom: 100px; */
    overflow: hidden; 
}
aside figure iframe {    
    width: 100%;
    height: 100%;
    object-fit: cover; 
}    
